    body {
        padding: 0;
        margin: 0;
    }

    input::placeholder {
        font-size: 14px;
    }

    .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
        font-size: 14px;
    }