@import "./variables";

/* FLEX CENTER */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE */
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

/* TEXT ELLIPSIS */
@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* BUTTON RESET */
@mixin button-reset {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
